{
  "endOfLine": "lf",
  "bracketSameLine": false,
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "singleQuote": true,
  "plugins": ["prettier-plugin-organize-imports","prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./packages/app-next/src/app/global.css",
  "tailwindPreserveDuplicates": true
}
